$primary-color: #B1B2FF;

.container {
    display: flex;
    align-items: center;

    h1 {
        margin: 0;
        font-size: 18px;
        font-weight: 500;

        @media screen and (max-width: 768px) {
            font-size: 16px;
        }

        @media screen and (max-width: 480px) {
            display: none;
        }
    }

    h2 {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        color: #D9D9D9;

        @media screen and (max-width: 480px) {
            display: none;
        }
    }
}


.avatar {
    color: white;
    margin: 5px 10px;
    background-color: $primary-color;
}

.menuContainer {
    position: relative;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    padding: 0px;
    margin-top: 11px;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

    ul {
        list-style: none;
        font-weight: 500;
        margin: 0;
        padding: 10px;
        color: $primary-color;

        li:hover {
            cursor: pointer;
        }
    }

    @media screen and (max-width: 480px) {
        width: max-content;
    }

}

.menu.open {
    display: block;
}

.row {
    display: flex;

    div:hover {
        cursor: pointer;
    }
}

.column {
    display: flex;
    flex-direction: column;
}