$primary-color: #B1B2FF;


.list {
    padding: 0;
    margin: 0;
    background-color: white;
    width: min-content;
    height: 100vh;
    text-align: center;

    div {
        padding: 5px;

        h1 {
            color: $primary-color;
            text-transform: uppercase;
            font-size: 0.9rem;
            letter-spacing: 2px;
            margin: 0;
        }

        h1:last-child {
            padding-left: 5px;
        }
    }

    .title {
        padding: 30px 5px;
    }
}

.container {
    margin: 10px;
    width: min-content;
    position: relative;
    display: inline-block;
    border-radius: 6px;

    h2 {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        text-transform: capitalize;
        margin: 10px 0 0 30px;
        font-size: 0.8rem;
        color: $primary-color;
        background-color: white;
        padding: 5px;
        border-radius: 6px;
    }

    transform: scale(1);
    transition: transform 0.5s ease;
}

.container:hover {
    cursor: pointer;
    transform: scale(1.2);
    border-radius: 100%;
    border: 2px dashed $primary-color;

    h2 {
        display: block;
    }
}

.active {
    transform: scale(1.2);
    border-radius: 100%;
    border: 2px dashed $primary-color;
}

.notification {
    position: absolute;
    top: -5px;
    right: -5px;
    height: 22px;
    width: 22px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: 600;
    transform: scale(0.8);
}

.notification_container {
    position: relative;
}