$primary-color: #B1B2FF;
$secondary-color: #AAC4FF;

.section {
    background-color: $primary-color;
    color: white;
    width: 400px;
    height: 550px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    form {
        padding: 40px;

        h1 {
            text-align: left;
            font-weight: normal;
            font-size: 28px;
            margin-bottom: 0 0 50px 0;
        }
    }

    div {
        a {
            font-size: 0.9rem;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    button {
        margin-top: 20px;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 8px;
        background-color: $secondary-color;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        color: white;
        font-size: 1.2rem;
        height: 40px;
        cursor: pointer;

        &:hover {
            background-color: darken($secondary-color, 20%);
        }
    }
}


.heading {
    background-color: #EEF1FF;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.row {
    display: flex;
    gap: 10px;
}

.form_update {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    background-color: $primary-color;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: #A3A4FF;
    }
}

.save {
    background-color: #00FF00;

    &:hover {
        background-color: #00CC00;
    }
}

.cancel {
    background-color: #FF0000;

    &:hover {
        background-color: #CC0000;
    }
}